html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.highlight {
  border: 1px solid transparent;
  padding: 5px;
}

.highlight .sourceText {
  background-color: rgba(255,255,60,.3);
  display: inline-block;
}

.hovered {
  border: 1px solid #777;
}

.clicked {
  border: 1px solid blue;
  box-shadow: 0px 0px 4px #777;
}

.clicked .sourceText {
  background-color: rgba(255,130,0,.3);
}

.actionBar {
  clear: right;
  float: right;
  padding-left: 10px;
}

.authorBlock img {
  min-height: 100%;
  max-height: 1.5em;
  vertical-align: top;
  border-radius: 50%;
}
.authorBlock time {
  float:right;
  color: #666;
  font-size: smaller;
}

.composeBox:empty::before {
  content: "Write your annotation here";
  color: #666;
  font-style: italic
}
.composeBox:focus:empty::before {
  content: "";
}

.replies {
  padding-left: 5px;
}

*[contenteditable] {display: inline-block;}
.composeFieldContainer, .composeField {
  width: 100%;
}
.composeFieldContainer {
  padding-bottom: 5px;
  padding-top: 5px;
}

.linkPreviewContainer, .linkEditContainer {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  padding: 0 3%;
}
#linkPreviewer, #linkEditor {
  max-width: 100%;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(80,80,80,.3), 0px 0px 4px rgba(200,200,200,.8);
}
.linkEditor {
  min-width: 90%;
}
form {
  display: table;
  width: 100%;
}
form div {
  margin-bottom: 2px;
  text-align: left;
  display: table-row;
}
form label, form input, form span.button {
  display: table-cell;
}
form input:focus:valid {
  outline: none;
  z-index: 20;
  position: relative;
  box-shadow: 0px 0px 3px rgba(20,255,30,0.36);
}
form input:focus:invalid {
  outline: none;
  z-index: 20;
  position: relative;
  box-shadow: 0px 0px 3px rgba(255,20,30,1.0);
}
form input {
  width: 100%;
}
form label {
  text-align: right;
  width: 4em;
}
