.highlight {
  border: 1px solid transparent;
  padding: 5px;
}

.hovered {
  border: 1px solid #777;
}

.clicked {
  border: 1px solid blue;
  box-shadow: 0px 0px 4px #777;
}

.annotation-placeholder::before {
  content: "Write your annotation here";
  color: #666;
  font-style: italic
}

*[contenteditable] {display: inline-block;}
.composeFieldContainer, #composeField {
  width: 100%;
}
.composeFieldContainer {
  padding-bottom: 5px;
  padding-top: 5px;
}
