html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

iframe {
  height: 100%;
  width: 75%;
  margin: 0;
  padding: 0;
  border: 0;
}

.sidebar {
  height: 100%;
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: blue;
}
