.hoverbox {
  position: absolute;
  transform: translateX(-50%);
  height: 35px;
  width: 50px; /* TODO depend on buttons */
  background: white;
  border: 3px solid #777;
  border-radius: 4px;
  box-sizing: border-box;
  direction: ltr;
  z-index: 999;
}

.hoverbox::before {
  transform: rotate(45deg);
  background: #fff;
  top: -7px;
  border-left: 3px solid #777;
  border-top: 3px solid #777;
  content: "";
  display: block;
  height: 6px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 6px;
}

.highlight {
  position: absolute;
  background-color: rgba(255,255,60,.3);
}

.highlight.hover {
  background-color: rgba(156,230,255,.5);
}

.highlight.clicked {
  background-color: rgba(255,130,0,.3);
}

.highlight.hover.clicked {
  background-color: rgba(255,130,0,.5);
}
