.hoverbox {
  position: absolute;
  transform: translateX(-50%);
  height: 35px;
  width: 35px; /* TODO depend on buttons */
  background-image: linear-gradient(rgba(81, 81, 81, 0.992157), rgba(69, 69, 69, 0.952941));
  border-radius: 4px;
  padding-top: 2px;
  border: 3px solid rgb(81,81,81);
  box-sizing: border-box;
  direction: ltr;
  z-index: 999;
  text-align: center;
}

.hoverbox img {
  width: 25px;
  -webkit-filter: invert(92%);
}

.hoverbox::before {
  transform: rotate(45deg);
  background: rgb(81,81,81);
  top: -7px;
  border-left: 3px solid rgb(81,81,81);
  border-top: 3px solid rgb(81,81,81);
  content: "";
  display: block;
  height: 6px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 6px;
}

.highlight {
  position: absolute;
  background-color: rgba(255,255,60,.3);
}

.highlight.hover {
  background-color: rgba(156,230,255,.5);
}

.highlight.clicked {
  background-color: rgba(255,130,0,.3);
}

.highlight.hover.clicked {
  background-color: rgba(255,130,0,.5);
}
